.sign-up-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 25px;
    position: relative;
    align-self: center;
    justify-self: center;
    justify-content: space-between;
    color: white;
    left:40vw;
    background-image: linear-gradient(45deg,  #FF83cd,#171120  );
    margin-top: 1rem;
    border-radius: 10px;
    text-align: center;

    
}
.sign-up-container input{
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    margin:10px;
    border-color: white;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: white;
  }
.sign-up-container button{
    padding: 5px;
    background: transparent;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    border: none;
    background-image: linear-gradient(45deg, #171120, #FF83cd  );

}